*checkpoint.ipynb
*.ipynb_checkpoints*
.ipynb_checkpoints/*.ipynb
.ipynb_checkpoints/Main_Notebook-checkpoint.ipynb
mycache/*
mycache/preprocessedData_19-03-25.json
data/*
*-checkpoint.ipynb
logs/*.json
logs/*.log
logs/ignoreUsers.json
src/utils/__pycache__
*.pyc
results/*
src/models/*
github_token*
/environment*
environment.yml
logs/21-04-25_tagsDistribution
src/__pycache__/*
